- content_for :title do
  Edusite
  |
  Edit Review


.card
  .card-header
    #h1.h3
      .fa.fa-book
      Review Edit
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show Review', @enrollment
    \|
    = link_to 'Back to Course', course_path(@enrollment.course)


