- content_for :title do
  Edusite
  |
  Edit Course

.card
  .card-header
    %h1.h3
      .fa.fa-graduation-cap
      New course
  .card-body
    = render 'form'

= link_to 'Show', @course
\|
= link_to 'Back', courses_path
